/* settings drawer content */
.inline-drawer-content {
  display: none;
} 

.inline-drawer.openDrawer .inline-drawer-content {
  display: block;
} 


/* draggable icon button styles */
#draggable-icon-btn {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1000;

/* size of clickable area */
  width: 40px;
  height: 40px;

 /* icon colour (default) */
  color: #333; /* change to currentColor for inheritance */
  
  background-color: currentColor;

  mask-image: url('assets/magnifying-glass-icon.svg');
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-image: url('assets/magnifying-glass-icon.svg');
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;

  /* visuals and interactivity */
  background-image: none;
  border: none;
  border-radius: 0;
  background-color: currentColor; /* mask colour */

  filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.5));

  cursor: grab;
  transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
}

#draggable-icon-btn:hover {
  color: #be74be; /* hover colour (default) */
}

#draggable-icon-btn:active {
  cursor: grabbing;
  transform: scale(1.1); /* increase size on click */
}
